---
apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
kind: ControllerManagerConfig
health:
  healthProbeBindAddress: :8081
metrics:
  bindAddress: 127.0.0.1:8443
webhook:
  port: 9443
leaderElection:
  leaderElect: true
  resourceName: e8cd140a.openshift.io
