---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - persistentvolumes
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims/finalizers
  verbs:
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - csiaddonsnodes
  - encryptionkeyrotationcronjobs
  - encryptionkeyrotationjobs
  - networkfenceclasses
  - networkfences
  - reclaimspacecronjobs
  - reclaimspacejobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - csiaddonsnodes/finalizers
  - encryptionkeyrotationcronjobs/finalizers
  - encryptionkeyrotationjobs/finalizers
  - networkfenceclasses/finalizers
  - networkfences/finalizers
  - reclaimspacecronjobs/finalizers
  - reclaimspacejobs/finalizers
  verbs:
  - update
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - csiaddonsnodes/status
  - encryptionkeyrotationcronjobs/status
  - encryptionkeyrotationjobs/status
  - networkfenceclasses/status
  - networkfences/status
  - reclaimspacecronjobs/status
  - reclaimspacejobs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - replication.storage.openshift.io
  resources:
  - volumegroupreplicationcontents
  - volumegroupreplications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - replication.storage.openshift.io
  resources:
  - volumegroupreplicationcontents/finalizers
  - volumegroupreplications/finalizers
  - volumereplications/finalizers
  - volumereplications/status
  verbs:
  - update
- apiGroups:
  - replication.storage.openshift.io
  resources:
  - volumegroupreplicationcontents/status
  - volumegroupreplications/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - replication.storage.openshift.io
  resources:
  - volumereplicationclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - replication.storage.openshift.io
  resources:
  - volumereplications
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  - volumeattachments
  verbs:
  - get
  - list
  - watch
