---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - csiaddonsnodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - csiaddonsnodes/finalizers
  verbs:
  - update
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - csiaddonsnodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - networkfences
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - networkfences/finalizers
  verbs:
  - update
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - networkfences/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - reclaimspacecronjobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - reclaimspacecronjobs/finalizers
  verbs:
  - update
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - reclaimspacecronjobs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - reclaimspacejobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - reclaimspacejobs/finalizers
  verbs:
  - update
- apiGroups:
  - csiaddons.openshift.io
  resources:
  - reclaimspacejobs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - volumeattachments
  verbs:
  - get
  - list
  - watch
