---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
  name: volumegroupreplicationcontents.replication.storage.openshift.io
spec:
  group: replication.storage.openshift.io
  names:
    kind: VolumeGroupReplicationContent
    listKind: VolumeGroupReplicationContentList
    plural: volumegroupreplicationcontents
    shortNames:
    - vgrcontent
    singular: volumegroupreplicationcontent
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.volumeGroupReplicationClassName
      name: VolumeGroupReplicationClass
      type: string
    - jsonPath: .spec.volumeGroupReplicationRef.name
      name: VolumeGroupReplication
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: VolumeGroupReplicationContent is the Schema for the volumegroupreplicationcontents
          API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: VolumeGroupReplicationContentSpec defines the desired state
              of VolumeGroupReplicationContent
            properties:
              provisioner:
                description: |-
                  provisioner is the name of the CSI driver used to create the physical
                  volume group on
                  the underlying storage system.
                  This MUST be the same as the name returned by the CSI GetPluginName() call for
                  that driver.
                  Required.
                type: string
              source:
                description: |-
                  Source specifies whether the volume group is (or should be) dynamically provisioned
                  or already exists using the volumes listed here, and just requires a
                  Kubernetes object representation.
                  Required.
                properties:
                  volumeHandles:
                    description: |-
                      VolumeHandles is a list of volume handles on the backend to be grouped
                      and replicated.
                    items:
                      type: string
                    type: array
                required:
                - volumeHandles
                type: object
              volumeGroupAttributes:
                additionalProperties:
                  type: string
                description: volumeGroupAttributes holds the contextual information
                  of the volume group.
                type: object
                x-kubernetes-validations:
                - message: field is immutable
                  rule: self == oldSelf
              volumeGroupReplicationClassName:
                description: |-
                  VolumeGroupReplicationClassName is the name of the VolumeGroupReplicationClass from
                  which this group replication was (or will be) created.
                  Required.
                type: string
              volumeGroupReplicationHandle:
                description: |-
                  VolumeGroupReplicationHandle is a unique id returned by the CSI driver
                  to identify the VolumeGroupReplication on the storage system.
                type: string
              volumeGroupReplicationRef:
                description: |-
                  VolumeGroupreplicationRef specifies the VolumeGroupReplication object to which this
                  VolumeGroupReplicationContent object is bound.
                  VolumeGroupReplication.Spec.VolumeGroupReplicationContentName field must reference to
                  this VolumeGroupReplicationContent's name for the bidirectional binding to be valid.
                  For a pre-existing VolumeGroupReplication object, MUST provide an empty/nil value for
                  VolumeGroupReplicationRef for the auto-binding to happen.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: |-
                      If referring to a piece of an object instead of an entire object, this string
                      should contain a valid JSON/Go field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within a pod, this would take on a value like:
                      "spec.containers{name}" (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]" (container with
                      index 2 in this pod). This syntax is chosen only to have some well-defined way of
                      referencing a part of an object.
                    type: string
                  kind:
                    description: |-
                      Kind of the referent.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
                    type: string
                  name:
                    description: |-
                      Name of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  namespace:
                    description: |-
                      Namespace of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/
                    type: string
                  resourceVersion:
                    description: |-
                      Specific resourceVersion to which this reference is made, if any.
                      More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency
                    type: string
                  uid:
                    description: |-
                      UID of the referent.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids
                    type: string
                type: object
                x-kubernetes-map-type: atomic
                x-kubernetes-validations:
                - message: volumeGroupReplicationRef.name, volumeGroupReplicationRef.namespace
                    and volumeGroupReplicationRef.uid must be set if volumeGroupReplicationRef
                    is defined
                  rule: 'self != null ? has(self.name) && has(self.__namespace__)
                    && has(self.uid) : true'
            required:
            - provisioner
            - source
            - volumeGroupReplicationClassName
            type: object
          status:
            description: VolumeGroupReplicationContentStatus defines the status of
              VolumeGroupReplicationContent
            properties:
              persistentVolumeRefList:
                description: |-
                  PersistentVolumeRefList is the list of PV for the group replication
                  The maximum number of allowed PV in the group is 100.
                items:
                  description: |-
                    LocalObjectReference contains enough information to let you locate the
                    referenced object inside the same namespace.
                  properties:
                    name:
                      default: ""
                      description: |-
                        Name of the referent.
                        This field is effectively required, but due to backwards compatibility is
                        allowed to be empty. Instances of this type with an empty value here are
                        almost certainly wrong.
                        More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      type: string
                  type: object
                  x-kubernetes-map-type: atomic
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
