---
# codespell is a GitHub Actions that runs codespell tool to catch misspell
# Reference https://github.com/codespell-project/actions-codespell
name: Codespell
# yamllint disable-line rule:truthy
on:
  pull_request:
    branches:
      - '*'
jobs:
  codespell:
    name: codespell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: codespell
        uses: codespell-project/actions-codespell@master
        with:
          skip: .git,go.mod,go.sum,vendor
          # kubebuilder latest release has a label with name kuberentes
          # TODO: remove this in next kubebuilder update as this is fixed
          # in kubebuilder master 
          # https://github.com/kubernetes-sigs/kubebuilder/pull/2964
          ignore_words_list: kuberentes
          check_filenames: true
          check_hidden: true
