---
name: Test deploying controller

# yamllint disable-line rule:truthy
on:
  pull_request:
    branches:
      - "*"
env:
  TAG: test

jobs:
  kind_deploy:
    name: kind_deploy
    runs-on: ubuntu-latest
    steps:
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.12.0

      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Set up Golang
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Build container container image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: false
          tags: quay.io/csiaddons/k8s-controller:${{ env.TAG }}

      - name: push image to kind cluster
        run: >
          kind
          load docker-image quay.io/csiaddons/k8s-controller:${{ env.TAG }}
          --name=chart-testing

      - name: Deploy the controller and CRDs
        run: make deploy TAG=${{ env.TAG }}

      - name: Wait for controller pod creation
        run: >
          kubectl
          -n csi-addons-system
          wait pods
          -l app.kubernetes.io/name=csi-addons
          --for=create
          --timeout=5m

      - name: Wait for running controller pod
        run: >
          kubectl
          -n csi-addons-system
          wait pods
          -l app.kubernetes.io/name=csi-addons
          --for=condition=Ready=True
          --timeout=5m

      - name: Log the status of the failed controller pod
        if: ${{ failure() }}
        run: >
          kubectl
          -n csi-addons-system
          describe pods
          -l app.kubernetes.io/name=csi-addons
          ; false
