---
name: Run Golang tests

# yamllint disable-line rule:truthy
on:
  pull_request:
    branches:
      - "*"

jobs:
  make_test:
    name: make_test
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run "make test"
        run: make test

      - name: Check for uncommitted changes
        run: make check-all-committed

      - name: Show the uncommitted "git diff"
        if: ${{ failure() }}
        run: git diff ; false

  go_mod_verify:
    name: go_mod_verify
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Verify Go modules
        run: go mod verify

  go_mod_vendor:
    name: go_mod_vendor
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up Golang
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Vendor all dependencies
        run: go mod vendor

      - name: Check for uncommitted changes
        run: make check-all-committed
